﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="IDsMAster.master.cs" Inherits="Azad.IDsMAster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <link href="Styles/MainStyleSheet.css" rel="stylesheet" type="text/css" />
    <title> Chief Minister's Office </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link  href="styles/GridPaging.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet" />
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>

    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
      <script type="text/javascript" src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
      <script type="text/javascript" src="dist/js/sb-admin-2.js"></script>
     
     <%-- <script type="text/javascript" src="Js/AmountConvert.js"></script>--%>
      
      <script type="text/javascript">
      $(document).ready(function () {
            $('#Contats-Table').DataTable({
                responsive: true
            });
          });
          $(document).ready(function () {
              $('#Contats-Table1').DataTable({
                  responsive: true
              });
          });
    </script>
  
</body>
</html>
