﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainPage.Master" AutoEventWireup="true" CodeBehind="ViewCombinedReports.aspx.cs" Inherits="Azad.ViewCombinedReports" %>
<%@ Register Assembly="Stimulsoft.Report.Web, Version=2016.3.0.0, Culture=neutral, PublicKeyToken=ebe6666cba19647a" Namespace="Stimulsoft.Report.Web" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <cc1:StiWebViewerFx ID="StiWebViewerFx1" Width="1000px" Height="1000" runat="server" />
    <cc1:StiWebViewerFx ID="StiWebViewerFx2" Width="1000px" Height="1000" runat="server" />
    <cc1:StiWebViewerFx ID="StiWebViewerFx3" Width="1000px" Height="1000" runat="server" />
</asp:Content>
