﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="CashierMain.master.cs" Inherits="Azad.CashierMain" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   
    <link href="Styles/MainStyleSheet.css" rel="stylesheet" type="text/css" />
    <title> Chief Minister's Office </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link  href="styles/GridPaging.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet" />
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Kendo -->
    <link href="Kendo/kendo.common.min.css" rel="stylesheet" />
    
<link href="Kendo/kendo.rtl.min.css" rel="stylesheet" />
    
<link href="Kendo/kendo.custom.css" rel="stylesheet" />
   
<link href="Kendo/kendo.default.mobile.min.css" rel="stylesheet" />

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
 <script src="Scripts/Kendo/jszip.min.js"></script>
   <script src="Scripts/Kendo/kendo.all.min.js"></script>
 
   <script src="Scripts/Kendo/console.js"></script>
    
 
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

<%--<body style="background-image: url(<%=this.ResolveUrl("~/Images/blgr015.gif")%>)">--%>

<form id="form1" runat="server">
<%--<img src="<%=this.ResolveUrl("~/Images/newban.jpg") %>" alt=""/>
                        <asp:ImageButton ID="btnLogout" runat="server" align="right" 
                        ImageUrl="Images/logout.png" onclick="btnLogout_Click1" /> --%>   
<div class="StyleSheet1.css">
<table align="left"><tr><td>
    <ul class="nav">
        <li><a href="<%=this.ResolveUrl("Dashboard.aspx") %>"">Home</a></li>
        <li><a href="">Add</a>
            <ul class="subs">
<%--            <li><a href="<%=this.ResolveUrl("EntryForm.aspx") %>" >Entry Form</a></li>
                <li><a href="<%=this.ResolveUrl("~/Pay/PayForm.aspx") %>" >Pay Form</a></li>
                <li><a href="<%=this.ResolveUrl("~/Pay/AGStatus.aspx") %>" >AG Status</a></li>
                <li><a href="<%=this.ResolveUrl("~/Pay/PayDatashow.aspx") %>" >Show Pay List</a></li>
--%>                         

<%
    foreach (Azad.MenuOption option in this.menu)
    {        
        %>
        
        <li><a href="<%=this.ResolveUrl(option.Url) %>"><%=option.Name %></a></li>

        <%
    }
     %>       
            </ul>
        </li>
        <li><a href="">Reports</a>
        <ul class="subs">
            <li><a href="<%=this.ResolveUrl("StimualReportsForm.aspx") %>"">Cashier Reports</a></li>
            <li><a href="<%=this.ResolveUrl("PayReportsForm.aspx") %>"">Pay Reports</a></li>

           </ul></li>
        <li>
            <a href="">Add New IDs</a>
             <ul class="subs">
                 <li><a href="<%=this.ResolveUrl("AddNewParty.aspx") %>"">Add New Party</a></li>
            <li><a href="<%=this.ResolveUrl("AddNewBudget.aspx") %>"">Add New Budget</a></li></ul>

        </li>


        <li><a href="http://www.cmpunjab.gov.pk/CMDashboard/default.aspx">About</a></li>
        <%--<li id="logout" runat="server"><a href="dashboard.aspx" runat="server" onclick="<% Logout();%>">Log Out</a></li>--%>
        <li>
            <asp:LinkButton ID="LinkButton1" runat="server" onclick="LinkButton1_Click">Log Out</asp:LinkButton></li>
    </ul>
    </td></tr></table>
    <div style="clear:both"></div>
    <br /><br />
<div class="container">
<div class="row">
<div class="col-lg-12">
                    
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        </div></div></div></div>

     <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
      <script type="text/javascript" src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
      <script type="text/javascript" src="dist/js/sb-admin-2.js"></script>
     
     <%-- <script type="text/javascript" src="Js/AmountConvert.js"></script>--%>
      
      <script type="text/javascript">
      $(document).ready(function () {
            $('#Contats-Table').DataTable({
                responsive: true
            });
          });
          $(document).ready(function () {
              $('#Contats-Table1').DataTable({
                  responsive: true
              });
          });
    </script>
    </form>
  
</body>
</html>
