﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainPage.Master" AutoEventWireup="true" CodeBehind="DashBoard.aspx.cs" Inherits="Azad.DashBoard" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style>
 .thumbnail
    {
        height: 100px;
        margin: 20px;
        border: 2px solid black !important;
    }
</style>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<br /><br />
<div class="container">
<div class="row">
<div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        <table width="100%"><tr>
                        <td>Select Your Area</td>
                        <td align="right"><asp:LinkButton ID="LinkButton1" runat="server" 
                                onclick="LinkButton1_Click"><span class="label label-primary">Log Out</span></asp:LinkButton></td>
                        </tr></table>
                            
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <table align="center"><tr><td>

                <asp:DataList ID="grdViewAlbum" runat="server" RepeatColumns="4" RepeatDirection="Horizontal"
    Width="100%" border="0" BorderColor="white" 
    PageSize="10">
    <ItemTemplate>
        <table style="border: 1px solid gray;">
            <tr>
                <td>
                    <a href='EntryForm.aspx?catid=<%# Eval("headId") %>'>
                    <asp:Image CssClass="thumbnail" runat="server" ID="img1" ImageUrl='<%# Eval("Code")%>' /></a>
                </td>
                <td align="center" valign="middle">
                   
                </td>
            </tr>
            
            
            <tr>
                <td>
                    
                </td>
                <td align="center" valign="middle">
                    &nbsp;</td>
            </tr>
            
            
            
        </table>
        </div>
        <br />
    </ItemTemplate>
</asp:DataList>
</td></tr></table>

</div>
</div>
</div>
</div>
</div>


<%--<table width="100%" cellpadding="0" cellspacing="0">
<tr><td align="center">

</td></tr>
</table>--%>
</asp:Content>
