﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainPage.Master" AutoEventWireup="true" CodeBehind="ViewSTIReports.aspx.cs" Inherits="Azad.ViewSTIReports" %>
<%@ Register Assembly="Stimulsoft.Report.Web, Version=2016.3.0.0, Culture=neutral, PublicKeyToken=ebe6666cba19647a" Namespace="Stimulsoft.Report.Web" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <%--<cc1:StiWebViewerFx ID="StiWebViewerFx1" Width="1000px" Height="1105px" runat="server" />--%>
    <cc1:StiWebViewer ID="StiWebViewer1" runat="server" />
</asp:Content>
